<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ .Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
</head>
<body>

<header>

  <h1>{{ .Title }}</h1>
  <small><a href="https://github.com/nokonoko/Pomf/blob/db666481ad11d986f4a84334514b261336168ace/pages/check_script.swig#L2"><em>For autist neckbeards (TM)</em></a></small>

  <p><a href="/tools">Tools</a> | <a href="http://status.nup.pw/">Status</a></p>

</header>
  
<hr />

<main>
  
  {{ if .Data }}
  <ul>
    {{ range $key, $value := .Data }}
    <li><strong>{{ $value }}</strong>: <a href="{{ $.FileURI }}/{{ $key }}">{{ $.FileURI }}/{{ $key }}</a></li>
    {{ end }}
  </ul>
  {{ end }}

  <h3>Form</h3>
  <form method="post" action="/" enctype="multipart/form-data">
    <fieldset>
      <input type="file" name="files" multiple="multiple">
      <input type="submit" name="upload" value="Upload">
    </fieldset>
  </form> 

  <h3>cURL</h3>
  <p>
    <code>curl -F "file=@yourFileHere.ext" {{ .PageURI }}</code>
  </p>

</main>

<hr />

<footer>

  <address>
    <p>
      <strong>Contact</strong><br />
      E-mail: <a href="mailto:neckbeard@nup.pw">neckbeard@nup.pw</a>
    </p>
  </address>

</footer>

</body>
</html>
